---
layout: default
section_id: about

members:
  - name: Erick Ochoa
    desc: Will reluctantly repeat jokes for late-comers.
    avatar: images/@stock/member-1.jpg

---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>About</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Hello World</h3>
      <div class='spacing'></div>
      <p>My name is Erick and I am a recent graduate from the University of
      Alberta with a BSc. in Computer Engineering. I am interested in
      technical topics like compilers, language, mathematics and signal
      processing; I also have a soft spot for new media art.</p>
      
      <p>The name of this blog is a
      reference to Magritte's painting "The Treachery of Images". It is really
      obvious that a blog is not a person, but in today's world identity is
      blurred so much between the real and the virtual that sometimes people
      forget that one's not his/her social networking account. At least, I
      have done so in the past.</p>
      <div class='two spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <h3>The Treachery of Images</h3>
      <div class='spacing'></div>
        <img src="{{site.url}}/images/MagrittePipe.jpg">
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
    </div>
  </div>
  <!--
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  -->
  <div class='two spacing'></div>
</div>
